table th {
	BACKGROUND: url(../images/TH_back.png) #ededed repeat top;
	BORDER: 1px solid #d9d9d9;
}

table th label {
	font-size : 10px !important;
}

table td {
	table-layout: fixed;
	BORDER: 1px solid #d9d9d9;
	CURSOR: pointer;
	white-space: nowrap;
}
 .button{
	 BACKGROUND: url(../images/but.gif) #ededed repeat top;

}


/******** Table Horizontal and Vertical Scroll  *****************/

.table
	{
	    max-height: 500px;
	    width:1050px;
	    overflow-y: scroll;
	    overflow-x: scroll;
	}
	.grid
	{
	    max-height: 150px;
	    width:1050px;
	    overflow-y: scroll;
	    overflow-x: scroll;
	    
	}
	.col1 
	{ 
	width:12%; 
	}
	.col2 
	{ 
	width:8%; 
	}
	.col3
	{ 
	width:5%; 
	}
	 

